#back{
    background: linear-gradient(0.36deg, #CBF1F5 0.17%, #FFFFFF 101.49%, #91CED4 101.49%);
}
#homefont{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #70ABB0;
    text-align: center;
    margin-top: -333px;
    margin-left: -30px;
}
#homefont1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #70ABB0;
    text-align: center;
    margin-top: -333px;
    margin-left: -16px;
}
#selamat{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #91CED4;
    margin-top: -250px;
    left : 8%;
}
#calendar1{
    width: 75px;
    height: 75px;
    margin-left: -9px;
    margin-top: 7px;
    left: 31%;
    background: transparent;
}
#calendar{
    position: absolute;
    width: 130px;
    height: 127px;
    left: 29px;
    top: 246.5px;
    background: #FFFFFF;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
#hospital1{
    width: 65px;
    height: 65px;
    left: 223px;
    margin-top: 11px;
    margin-left: -190px;
    margin-right: -2px;
    background: transparent;
}
#hospital{//posisi card
    position: absolute;
    width: 130px;
    height: 127px;
    margin-left: 168px;
    margin-top: 200px;
    background: #FFFFFF;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
#bed1{ 
    width: 75px;
    height: 75px;
    left: 21%;
    margin-top: 5px;
    background: transparent;
    
}
#bed{//posisi card
    position: absolute;
    width: 130px;
    height: 127px;
    left: 28px;
    top: 412px;
    background: #FFFFFF;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    }

#wri{ //posisi card
    position: absolute;
    width: 130px;
    height: 127px;
    margin-left: 168px;
    margin-top: 327px; 
    background: #FFFFFF;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#wri1{
    width: 70px;
    height: 70px;
    margin-left: 25px;
    margin-top: 4px;
    background: transparent;
  
}
#logo{
    width: 137px;
    height: 187px;
    background: transparent;
    margin-top: -30px;
    margin-left: 88px;
}