.list1{
    position: absolute;
    width: 134px;
    height: 204px;
    left: 29px;
    top: 265px;
}
#fontdata{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13.35px;
    line-height: normal;
    color: #70ABB0;
}