.card3{
    position: absolute;
    width: 307px;
    height: 124px;
    left: 29px;
    top: 115px;
    background: linear-gradient(293.66deg, #FFFFFF 0%, #FFFFFF 93.36%);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
