  *{
    box-sizing: border-box;
  }

#giliran{
    position: absolute;
    width: 240px;
    height: 29px;
    left: 59px;
    top: 51px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #70ABB0;
}

#antrianbutton{
    width: 283px;
    height: 40px;
    left: 20px;
    top: 100px;
    background: linear-gradient(90deg, #99E1E5 3.18%, #DEFCFC 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

#nomorantrian{
font-family: Roboto;
font-style: normal;
font-size: 96px;
line-height: 112px;
text-align:center;
color: #91CED4;
width: 202px;
height: 202px;
left: 60px;
top: 150px;
border-radius: 50%;
background: #EBFFFB;
}
