.toolbar-title-md{
  position: absolute;
  left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  color: #70ABB0; 
  background-color: transparent;
  box-sizing: border-box;
}
.list-md .item-block .item-inner {
border-bottom: 0;
}

ion-content{
background: linear-gradient(0.36deg, #DEFCFC 0.17%, #FFFFFF 101.49%, #91CED4 101.49%);
}
.toolbar-title-md{
padding: 0;
}
.item-md{
  background: transparent;
}

ion-input{
  background: #CBF1F5;
  border-radius: 15px;
  padding: 0px 10px;
  box-shadow: 15px 5px 5px rgba(0, 0, 0, 0.1);
}

.button-inner{
  text-align: center;
  color: #426366;
  border-radius: 15px;

}

.button-md{
  border-radius: 15px;
  background : linear-gradient(90deg, #99E1E5 0%, #DEFCFC 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.label-md {
  margin: 13px 0px 13px 0;
}
.sub-but{
  margin: 10px 0 30px;
  color: #426366
}

.box-simpan{
  margin-top: auto;
  text-align: center;
  background: linear-gradient(90deg, #99E1E5 0%, #DEFCFC 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
  
