.toolbar-title-md{
    position: absolute;
    left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #70ABB0; 
    background-color: transparent;
    }
  .list-md .item-block .item-inner { // garis bawah 
        border-bottom: 5;
      }
  .item-md{ // background tulisan
        background: transparent;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: normal;
        color: #70ABB0;
    }
    
  button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #70ABB0;
    background-color: transparent;
  }