<ion-content padding>
<div>
	<div class="header">
		Antrian
	</div>
	
	<div>
		<ion-card>
			<ion-grid>
				<ion-row>
					<ion-col> 
						<ion-card-header>
							Nomor antrian Anda <br><br>
							Estimasi waktu :
						</ion-card-header>
					</ion-col>
					<ion-col style="font-size: 36px; margin: 10px;" *ngFor = "let data of antri">
						{{data.no_antrian}}
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card>
	</div>
	<div>
		<ion-card>
			<ion-card-header *ngFor = "let date of top">
				{{date.no_antrian}}
			</ion-card-header>
		</ion-card>
	</div>
</div>

    <!-- <p id="giliran">Sekarang Giliran Anda</p>
    <ion-item id="nomorantrian">10</ion-item>
    <button ion-button id="antrianbutton" (click)="gotoHomePage()">Konfirmasi</button> -->
</ion-content>