  ion-avatar img {
        position: relative;
         border-radius: 50%;
         width: 74px;
         min-width: 74px;
         height: 74px;
         min-height: 74px;
         margin-left: 123px;
         margin-top: 130px;
         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
     }
.rec{
    position: absolute;
    width: 360px;
    height: 190px;
    margin: -4px;
    top: 0%;
    left: 1%;
    background-color: transparent;
}
#p1 {
    position: absolute;
    width: 300px;
    height: 67px;
    left: 30px;
    top: 230px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #70ABB0;
}

#p2{  
    position: absolute;
    width: 61px;
    height: 37px;
    left: 149px;
    top: 245px;    
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    color: #70ABB0;
}

.card1{
    position: absolute;
    width: 307px;
    height: 124px;
    left: 20px;
    top: 274px;
    background: linear-gradient(293.66deg, #FFFFFF 0%, #FFFFFF 93.36%);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.card2{
    position: absolute;
    width: 307px;
    height: 124px;
    left: 20px;
    top: 422px;
    background: linear-gradient(293.66deg, #FFFFFF 0%, #FFFFFF 6.32%, #FFFFFF 93.36%);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.font{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #70ABB0;
}

.font1{
    font-family: Roboto;
    color: #70ABB0;
}

.backg{
    background: linear-gradient(0.36deg, #DEFCFC 0.17%, #FFFFFF 101.49%, #91CED4 101.49%);
}

.tombol{
    position: absolute;
    left: 250px;
    top:  10px;
    
}

.datadiri{
    position: absolute;
    left: 230px;
    top:  40px;
}
#fontdata {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    color: #70ABB0;
    top:4px;
}

#fontdata1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #70ABB0;
    top: 6px;
}

.riwayat{
    position: absolute;
    left: 230px;
    top:  40px;
    
}