page-gantialamat {
    .toolbar-title-md{
        // position: absolute;
        left: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: normal;
        color: #70ABB0; 
        background-color: transparent;
        box-sizing: border-box;
    }
    ion-textarea{
        display: block;
        padding: 3px 10px;
        width: 300px;
        height: 129px;  
        left: 50px;
        top: 145px;
        background: #CBF1F5;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }
    .input-cover {
      left: 2;
      top: 2;
      position: absolute;
      width: 90%;
      height: 90%;
      touch-action: manipulation;
  }
    textarea.text-input {
      display: block;
      height: 250px;
      }
      
      

.label-md {
    margin: 13px 0px 13px 0;
  }
.list-md .item-block .item-inner {
    border-bottom: 0;
  }

.toolbar-title-md{
    padding: 0;
  }
.item-md{
    background: transparent;
  }
.button-inner{
    text-align: center;
    color: #426366;
    border-radius: 15px;

  }
.button-md{
    border-radius: 15px;
    background : linear-gradient(90deg, #99E1E5 0%, #DEFCFC 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
}