<ion-content padding center text-left>
	<ion-list>
		<div class="title">
		<ul>
			<li><a href="#">Daftar</a></li>
			<li><a href="#">Masuk	</a></li>
		</ul>
		</div>
			<ion-item>
					<ion-label position="stacked">Member ID</ion-label>
					<ion-input type="text" color="primary"></ion-input>
		
					<ion-label position="stacked">No. Telepon</ion-label>
					<ion-input type="number"></ion-input>
		
					<ion-label position="stacked">Kata Sandi</ion-label>
					<ion-input type="password"></ion-input>
		
					<ion-label position="stacked">Konfirmasi Kata Sandi</ion-label>
					<ion-input type="password"></ion-input>
			</ion-item>
	</ion-list>



</ion-content>