page-awalpage {
.logo{
    position: absolute;
    width: 310px;
    height: 338px;
    left: 5px;
    top: 132px;
    background: transparent;
   
}

ion-img.img-loaded {
    position: absolute;
    width: 310px;
    height: 350px;
    margin: 1px;
    top: 0%;
    left: 7%;
    background-color: transparent;
}
}
